[Match]
Name=e*

[Network]
#Address=192.168.0.251/24
#Gateway=192.168.0.1
Gateway=fe80::1
#DNS=192.168.0.1
DNS=fe80::1
DHCP=ipv4
LinkLocalAddressing=ipv6
LLMNR=resolve
MulticastDNS=true
IPv6AcceptRA=false
